.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.page-footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.page-footer h5, h6 {
  /*display: inline-block;*/
}

.page-footer a {
  color: black;
}
