<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control" required>
          <control-messages 
          [control]="loginForm.controls.email" 
          [isFormSubmitted]="isSubmitted"></control-messages>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" required>
          <control-messages 
          [control]="loginForm.controls.password"
          [isFormSubmitted]="isSubmitted"></control-messages>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-3" (click)="onFormLogin()" >
          Login
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <button type="button" class="btn btn-danger btn-block" (click)="onGoogleLogin()">
        Login with google
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <p>No account yet? <a routerLink="/register">Create an account</a></p>
    </div>
  </div>
</div>