<div class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">Ready to sink some battleships?</h1>


      <div class="has-text-centered">
        <span class="tag is-warning" *ngIf="isYourTurn">Your turn!</span>
        <span class="tag is-danger" *ngIf="!isYourTurn">Other player's turn.</span>
      </div>
      <section *ngIf="winner" class="notification is-success has-text-centered" style="color:white">
        <h1>
          Player {{ winner.player.id }} has won the game!
        </h1>
      </section>


      <div class="columns">
        <div class="column has-text-centered" *ngFor="let board of boards; let i = index">
          <h5>
            <span class="tag is-info" *ngIf="board.player.id == playerId; else elseBlock">
              Your field <strong>SCORE: {{ board.player.score }}</strong>
            </span>
            <ng-template #elseBlock>
              <span class="tag is-info">
                Enemy field <strong>SCORE: {{ board.player.score }}</strong>
              </span>
            </ng-template>
          </h5>
          <table class="is-bordered" [style.opacity]="board.player.id === playerId ? 0.5 : 1">
            <tr *ngFor="let row of board.tiles; let j = index">
              <td
                *ngFor="let col of row; let k = index"
                (click)="fireTorpedo($event)"
                [style.background-color]="col.used ? '' : 'transparent'"
                [class.win]="col.status === 'win'" [class.fail]="col.status !== 'win'"
                class="battleship-tile"
                id="{{j}}{{k}}{{board.player.id}}"
              >
                {{ col.value == "X" ? "X" : "💀" }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
