<div class="section">
  <div class="container">
    <div class="content" *ngIf="game">
      <h1 class="title">Ready to sink some battleships?</h1>

      <div class="has-text-centered">
        <span class="tag is-warning" *ngIf="isPlayerTurn()">Your turn.</span>
        <span class="tag is-danger" *ngIf="!isPlayerTurn()">Computer turn.</span>
      </div>
      <section *ngIf="winner" class="notification is-success has-text-centered" style="color: green">
        <h1>
          {{ winner.playerId === '1' ? 'Computer' : 'You' }} has won the game!
        </h1>
      </section>

      <div class="columns" >
        <div class="column has-text-centered" *ngFor="let board of boards">
          <h5>
            <span class="tag is-info" *ngIf="board.playerId !== '1'; else elseBlock">
              Your field <strong>SCORE: {{ board.score }}</strong>
            </span>
            <ng-template #elseBlock>
              <span class="tag is-info">
                Enemy field <strong>SCORE: {{ board.score }}</strong>
              </span>
            </ng-template>
          </h5>
          <table class="is-bordered" [style.opacity]="board.playerId === '1' ? 1 : 0.5">
            <tr *ngFor="let row of board.tiles; let j = index">
              <td
                *ngFor="let col of row; let k = index"
                (click)="fire($event)"
                [style.background-color]="col.used ? '' : 'transparent'"
                [class.win]="col.status === 'win'" [class.fail]="col.status !== 'win'"
                class="battleship-tile"
                id="{{j}}{{k}}{{board.playerId}}"
              >
                {{ col.value == "X" ? "X" : "💀" }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
