<div class="container">
  <div class="column has-text-centered" *ngFor="let game of games">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" [class.text-info]="game.status === 'notEnded'" [class.text-danger]="game.status === 'lost'"
          [class.text-success]="game.status === 'win'">
          {{getStatus(game)}}
        </h4>

        <p class="card-text">
          {{game.date | amTimeAgo}}
        </p>

        <a [routerLink]="[game.key]" class="card-link" *ngIf="game.status === 'notEnded'">
          Continue game
        </a>
      </div>
    </div>
  </div>
</div>